<!DOCTYPE html>
<html dir="rtl" lang="he" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Shadi's Jenkins FinalTask</title>

</head>
<body>
<div class="container">
    <h1 class="text-center">חדשות</h1>
    <table class="table table-striped text-right" border="1">
        <tr>
            <th>קישור</th>
            <th>תיאור</th>
            <th>כותרת</th>
            <th>זמן העלאה</th>
        </tr>
        <tr th:each="item: ${items}">
            <td>
                <a th:href="${item.link}" th:text="${item.link}" target="_blank" />
            </td>
            <td th:utext= "${item.description}"></td>
            <td th:text ="${item.title}"></td>
            <td th:text = "${item.pubDate}"></td>
        </tr>
    </table>
</div>
</body>
</html>
